.datepicker-filter-card {
  padding: 12px;
}

.datepicker-filter-datepicker {
  transition: none;
  will-change: unset;
  box-shadow: none;
}

.datepicker-ranges {
  width: 180px;
}

.datepicker-ranges .v-btn {
  width: 100%;
}
