@import 'date_filter';

.compact-filters .v-input .v-progress-linear.v-progress-linear--absolute {
  left: 18px;
  width: calc(100% - 2 * 18px);
}

.compact-filters {
  padding: 10px 5px 0 5px !important;
}

.compact-filters .v-text-field--rounded > .v-input__control > .v-input__slot {
  padding: 0 10px 0 24px;
}

.compact-filters .v-text-field--filled.v-input--dense .v-label, .v-text-field--full-width.v-input--dense .v-label {
  font-size: 14px;
  top: 12px;
}

.compact-filters .v-text-field--outlined.v-input--dense .v-label--active {
  transform: translateY(-18px) scale(0.75);
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)::v-deep.v-input__control::v-deep.v-input__slot fieldset {
  color: rgba(255, 255, 255, 0) !important;
}

.compact-filters .white-rounded-input.v-text-field--outlined,
.compact-filters .v-text-field--solo {
  box-shadow: none;
  border-radius: 28px !important;
}

.v-select__slot .v-select__selections {

}


.theme--light.v-chip {
  background: transparent !important;
}

.v-select__selections > .theme--light.v-chip > .v-chip__content {
  color: var(--v-primary-base);
}

.v-chip {
  padding: 0 6px;
}

// Remove border colour from the chips in the filters
.theme--light.v-chip {
  border-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

.v-chip.v-size--small {
  border: 1px solid var(--v-primary-base);
  border-radius: 5px !important;
}

.v-select.v-input--dense .v-chip {
  margin: 0 5px 0 0;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
  color: var(--v-primary-base);
}
.autocomplete-filter ::v-deep {
  & > .v-input__control > .v-input__slot > .v-select__slot > .v-select__selections {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1px;
  }
}
