@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700');
@font-face {
  font-family: Silka;
  src: local("Silka"), url("@/fonts/silka-regular-webfont.woff2") format("woff2"), url("@/fonts/silka-regular-webfont.woff") format("woff");
}

$black: #000000;
$green: #8DC448;
$white: #fff;
$red: #C21F29;
$lightGrey: #72808E;
$greyLightest: #f3f3f3;
$lightBlue: #2A3846;
$darkBlue: #1DAEEB;
$darkerBlue: #FAFAFB;
$activeLink: #39556B;
$greyThing: #ddd;

$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$blue: #017ac7;
$iconBlue: #1dafec;
// Transition
$duration: 400ms;
$easing: ease;

$primary: #00adef;

body {
  font-family: "Roboto", helvetica, Arial, sans-serif;
  color: #000000 !important;
  background-color: #333333;
}

.selected-user {
  font-weight: normal;
  padding: 2px 3px;
  border-radius: 2px;
  background: #f0f0f0;
  border: solid 1px #dadada;
  display: inline-block !important;
  position: relative;
}

.theme--dark .selected-user {
  background: #2f2f2f;
  border: solid 1px #3f3f3f;
}

ul.dropdown-menu.textcomplete-dropdown {
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(86, 96, 117, .7);
  margin: 0;
}

ul.dropdown-menu.textcomplete-dropdown > li {
  margin: 0;
  padding: 0;
}

.theme--dark ~ ul.dropdown-menu.textcomplete-dropdown > li.textcomplete-item > a {
  color: white !important;
}

ul.dropdown-menu.textcomplete-dropdown > li.textcomplete-item > a {
  position: relative;
  font-weight: 500;
  height: 40px;
  padding: 10px 12px 10px 40px;
  display: block;
  line-height: 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: "Roboto", helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87) !important;
}

ul.dropdown-menu.textcomplete-dropdown[data-strategy="notes-at-emails"] > li.textcomplete-item > a {
  padding: 8px 12px 8px 12px;
}

ul.dropdown-menu.textcomplete-dropdown > li.textcomplete-item.active {
  background: var(--v-accent-base);
}

.note-spacer {
  width: 40px;

  &.with-status {
    width: 55px;
  }

  display: inline-block;
  height: 1px;
}

.file-preview-wrapper::before {
  background: transparent !important;
}

.upload-block {
  border: 2px dashed transparent;
}

.is-drag-over.upload-block {
  border-color: #AAA;
}

.vue-file-agent {
  border: 0 !important;
  box-shadow: none !important;
}

.table-status-select > .v-input__control > .v-input__slot {
  background: transparent !important;
}

.v-application {
  font-family: "Roboto", helvetica, Arial, sans-serif;
}

.no-whitespace, [role="columnheader"].text-center {
  white-space: nowrap;
}

.v-avatar {
  img {
    object-fit: cover;
  }
}

.theme--light.filter.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(0, 0, 0, 0);
}

.theme--dark ~ .dropdown-menu.textcomplete-dropdown {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  color: white;
}

.grid-block-wrapper.vue-file-agent.file-input-wrapper canvas {
  top: 0;
}

body {
  padding: 0px !important;
}

:not(.v-input__icon) > .v-icon.v-icon {
  font-size: 18px;
}

.v-input__icon > .v-icon.v-icon {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.theme--dark *::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.theme--dark *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--v-accent-base);
}

.user-selected {
  font-weight: normal;
  padding: 2px 3px;
  border-radius: 2px;
  padding-left: 26px;
  background: #f0f0f0;
  border: solid 1px #dadada;
  display: inline-block !important;
  position: relative;
}

.theme--dark .user-selected {
  border: solid 1px #3f3f3f;
  background: #2f2f2f;
}

.user-selected div {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.user-selected img {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.h-100p {
  height: 100%;
}

.hmin-90p {
  min-height: 90%;
  height: 100%;
}

.w-300 {
  width: 300px !important;
}

// This causes the text to overlap on File Uploader preview tiles
.file-preview-wrapper.grid-box-item.grid-block {
  //min-width: 100px;
}

.lh-18 {
  line-height: 18px;
  align-items: center;
}

.v-small-dialog__menu-content .v-btn:not(.v-btn--icon) {
  height: 26px !important;
  font-size: 13px;
}

// this is ugly and really did not want to do this but there really seemed like no other way
.v-small-dialog__menu-content .v-btn:not(.v-btn--icon).primary--text {
  color: var(--v-accent-base) !important;
  caret-color: var(--v-accent-base) !important;
}

svg[role="button"], svg[role="button"]:focus {
  outline: none;
}

.inverse-text {
  color: var(--v-inverseText-base) !important;
}

.open-dialog {
  overflow: hidden;
}

.theme--dark.v-navigation-drawer .v-skeleton-loader .v-skeleton-loader__list-item-avatar,
.theme--dark.v-navigation-drawer .v-skeleton-loader .v-skeleton-loader__list-item {
  background: transparent;
}

.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.v-application [class$="-color"].primary--text {
  color: white !important;
}

.v-application .listings-color.primary--text, .v-application .users-color.primary--text {
  color: var(--v-listings-base) !important;
}

.v-application .reputation-color.primary--text {
  color: var(--v-reputation-base) !important;
}

.v-application .social-color.primary--text {
  color: var(--v-social-base) !important;
}

.v-application .bookings-color.primary--text {
  color: var(--v-bookings-base) !important;
}

.v-application .people-color.primary--text, .v-application .people-color.primary--text {
  color: var(--v-people-base) !important;
}

::selection {
  background: var(--v-darkPrimary-base);
  color: white;
}

.sf-minitoolbar {
  background-color: var(--v-primary-base) !important;
  border-radius: 0 !important;
}

.pad-toolbar {
  margin: 2px 0 0 0 !important;
  padding-left: 16px;
  padding-right: 16px;
}

.pad-toolbar.mobile {
  margin: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
}

.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #313131 !important;
}

.inner-message {
  font-size: 14px;
  position: relative;
  top: -1px;
}

.v-application th.th-center {
  text-align: center !important;
}

.sp-autocomplete, .sp-select, .v-autocomplete, .v-select {
  & > .v-input__control > .v-input__slot > .v-select__slot > .v-select__selections > .v-chip--select.v-chip--removable > .v-chip__content > .v-chip__close {
    color: var(--v-accent-base);
    font-size: 15px !important;
    margin-right: 0 !important;
  }
}

.app-bar-vbtn.mobile {
  width: 36px !important;
  height: 36px !important;
}

.breadcrumbs.mobile {
  display: inline-block;
  position: absolute;
  left: 68px;
  top: 58px;
  padding: 0px;
  line-height: 16px;
  $breadcrumbs-item-font-size: 12px !important;
  $breadcrumbs-even-child-padding: 0 8px !important;
}

.v-breadcrumbs.breadcrumbs.mobile li {
  font-size: 12px !important;
}

.breadcrumbs.tablet {
  display: inline-block;
  position: absolute;
  left: 68px;
  top: 58px;
  padding: 0px;
  line-height: 16px;
}

.pb-0.mobile {
  padding: 2px !important;
  padding-top: 12px !important;
}

.container.mobile {
  padding: 4px !important;
}

.pb-0.tablet {
  padding-top: 24px !important;
}

.v-expansion-panel-content__wrap {
  padding: 0px !important;
  flex: 1 1 auto;
  max-width: 100%;
}
